= form_for [@schedule, @comment] do |f|
  = f.error_messages
  %ul.formList
    %li
      = f.label :body, "Comment"
      = f.text_area :body, :rows => 6, :cols => 42
    %li
      = f.submit "Post Comment"

