!= "$('#comments_count').html('<h2>#{pluralize(@schedule.comments.size,'comment')}</h2>');"
!= "$('#comments').append('#{escape_javascript(render(:partial => @comment))}');"
!= "$('#new_comment')[0].reset();"

