!= "$('#comments_count').html('#{pluralize(@schedule.comments.size,'comment')}');"
!= "$('#comments').append('#{escape_javascript(render(:partial => @comment))}');"
!= "$('#new_comment')[0].reset();"

