-title "Edit Admin #{@admin.email}"
= form_for(@admin, :as => 'admin', :url => admin_registration_path, :html => { :method => :put }) do |f|
  = f.error_messages
  %ul.formlist
    %li
      .label= f.label :password
      .field= f.password_field :password
      %i (leave blank if you don't want to change it)
    %li
      .label= f.label :password_confirmation
      .field= f.password_field :password_confirmation
    %li
      .label= f.label :current_password
      .field= f.password_field :current_password
      %i (we need your current password to confirm your changes)
    %li.actions
      = f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path('admin'), :confirm => "Are you sure?", :method => :delete}.
= link_to "Back", :back

