- title "Edit Profile"
- if user_signed_in?
  = link_to "Edit Details", edit_user_registration_path
- if admin_signed_in?
  .admin
    = "Editing User #{@user.username} | #{@user.email}"
- if @authentications
  - unless @authentications.empty?
    = render :partial => 'auth_list'
  %p
    %strong
      Add another service to sign in with:
- else
  %p
    %strong
      Sign in through one of these services:

=render :partial => 'auth_links'

.clear

