- title "Sign In"
- if @authentications
  - unless @authentications.empty?
    %p
      %strong
        You can sign in to this account using:
    .authentications
      - for authentication in @authentications
        .authentication
          = image_tag "#{authentication.provider}_32.png", :size => "32x32"
          .provider
            = authentication.provider.titleize
          .uid
            = authentication.uid
          = link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"

      .clear
  %p
    %strong
      Add another service to sign in with:
- else
  %p
    %strong
      Sign in through one of these services:

%a.auth_provider(href="/auth/twitter" title="Twitter")
  = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"

%a.auth_provider(href="/auth/facebook" title="Facebook")
  = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"

%a.auth_provider(href="/auth/google_apps" title="Google")
  = image_tag "google_64.png", :size => "64x64", :alt => "Google"

%a.auth_provider(href="/auth/open_id" title="OpenID")
  = image_tag "openid_64.png", :size => "64x64", :alt => "OpenID"

.clear

