#comments_area
  #comments_count
    - unless @schedule.comments.empty?
      %h2= pluralize(@schedule.comments.size, 'Comment')
  %ul#comments
    = render :partial => @schedule.comments
  %br
  = form_for [@schedule, Comment.new] do |f|
    = f.error_messages(Comment.new)
    %ul.formList
      - unless user_signed_in?
        %li
          = f.label :commenter
          = f.text_field :commenter
        %li
          = f.label :email
          = f.text_field :email
      %li
        = f.label :body, "Comment"
        = f.text_area :body, :rows => 6, :cols => 42
      %li
        = f.submit "Post Comment"

