= form_for @schedule do |f|
  -if @schedule.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@schedule.errors.count, "error")} prohibited this topic from being saved:"
      %ul
        - @schedule.errors.full_messages.each do |msg|
          %li= msg
  %ul.formList
    %li#name
      .label= f.label :name
      .field= f.text_field :name, :id => 'name'
    %li#items
      = add_item_link "(add item)"
      = render :partial => 'item', :collection => @schedule.items
    %li#description
      .label= f.label :description
      .field= f.text_area :description, :rows => 7, :cols => 60, :id => 'description'
    %li.actions
      = f.submit 'Save'

