= form_for @schedule do |f|
  = f.error_messages
  %ul.formList
    %li#name
      .label= f.label :name
      .field= f.text_field :name, :id => 'name'
    %li#items
      = add_item_link "(add item)"
      = render :partial => 'item', :collection => @schedule.items
    %li#description
      .label= f.label :description
      .field= f.text_area :description, :rows => 7, :cols => 60, :id => 'description'
    %li#name
      .label= f.label :date, "Original Date"
      .field= f.text_field :date, :id => 'date'
      .info="Today if empty"
    %li.actions
      = f.submit 'Save'

