- stylesheet 'jqueryui/jquery-ui-1.8.5.custom'
- javascript 'jquery/jquery-ui-1.8.6.datepicker.min'

= form_for @schedule do |f|
  = f.error_messages
  %ul.formlist
    %li#name
      .label= f.label :name
      .field= f.text_field :name, :id => 'name'
    %li#items
      - @schedule.items.each do |item|
        = f.fields_for item do |ff|
          = render :partial => 'item', :locals => {:f => ff}
      %p= add_child_link "(add item)", :items
      = new_child_fields_template(f, :items)
    %li#description
      .label= f.label :description
      .field= f.text_area :description, :rows => 7, :cols => 60, :id => 'description'

    %li#name
      .label= f.label :date, "Original Date"
      .field
        = f.text_field :date
        ="Today if empty"
    %li#tags
      .label= f.label :taggings
      .field= f.text_field :taggings, :id => 'taggings'
    %li.actions
      = f.submit 'Save'

