= form_for @schedule do |f|
  = f.error_messages
  %ul.formList
    = f.hidden_field :user_id, :value => current_user.id
    %li#name
      .label= f.label :name
      .field= f.text_field :name, :id => 'name'
    %li#items
      = add_item_link "(add item)"
      = render :partial => 'item', :collection => @schedule.items
    %li#description
      .label= f.label :description
      .field= f.text_area :description, :rows => 7, :cols => 60, :id => 'description'

    %li#name
      .label= f.label :date, "Original Date"
      .field
        = f.text_field :date, :id => 'date'
        ="Today if empty"
    %li#tags
      .label= f.label :taggings
      .field= f.text_field :taggings, :id => 'taggings'
    %li.actions
      = f.submit 'Save'

