%title
  = "- SwimDB - | " << (yield(:title) || "Untitled")
%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
= favicon_link_tag 'favicon.ico'
= favicon_link_tag 'logo64.png', :rel => 'apple-touch-icon', :type => 'image/png'
= yield(:more_stylesheets)
-# compass stylesheets
= stylesheet_link_tag 'compiled/screen', :media => 'screen, projection'
= stylesheet_link_tag 'compiled/print', :media => 'print'
/[if lt IE 8]
  = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
= javascript_include_tag 'jquery/jquery-1.4.2.min.js', 'jquery/rails'
= yield(:more_javascript)
= javascript_include_tag "application"

= csrf_meta_tag
= yield(:head)

