%div#user_nav
  %ul
    %li.first= link_to "Home", root_url
    - if user_signed_in?
      %li
        = t(:huser, :username => current_user.username)
        = link_to t(:logout), destroy_user_session_path
      %li= link_to t(:eprofile), edit_user_registration_path
    - else
      %li
        = link_to t(:signup), new_user_registration_path
        or
        = link_to t(:login), new_user_session_path
    %li.lang
      -if params[:locale] == 'de'
        =link_to 'switch to English', url_for( :locale => 'en' )
      -else
        =link_to 'nach Deutsch wechseln', url_for( :locale => 'de' )
    %li.last About

