!!! Strict
%html
  %head
    = render :partial => '/shared/head'
  %body
    #header
      #banner
        banner
      = render :partial => '/shared/user_nav'
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      #content
        - if show_title?
          %h2= yield(:title)
        - if admin_signed_in?
          %h2.admin
            Admin Access
        =yield
      #footer

