!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = "- SwimDB - | " << (yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    =# stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    =# stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = javascript_include_tag :all, :cache => true
    = csrf_meta_tag
    = yield(:head)

  %body
    =yield

